body,html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  .header {
    height: 64px;
    background: #19233E;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
  }
  .container {
    display: flex;
    position: fixed;
    bottom: 0;
    top: 64px;
    padding-left: 176px;
    left: 0;
    right: 0;
    .sidebar {
      width: 176px;
      background: #e5e5e5;
      position: fixed;
      height: 100%;
      left: 0;
      > div {
        cursor: pointer;
      }
    }
  }
  
  
}
