#root {
  height: 100%;
  width: 100%;
}
.view {
  width: 100%;
  overflow: auto;
  background: #f8fafc;
}
.innerContainer {
  /* min-width: 1200px; */
}
/* common */
.ml24 {
  margin-left: 24px;
}
.mt20 {
  margin-top: 20px;
}
.mt43 {
  margin-top: 43px;
}
.alignCenter {
  text-align: center;
}
.line {
  height: 1px;
  width: 100%;
  background:  #DADEE1;
  margin: 38px 0 ;
}
/* reset-antd */
.menuUl {
  padding-top: 24px;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item {
  margin: 0;
  padding: 0;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #232F49;
}
.ant-menu.ant-menu-dark .menuItem {
  padding-left: 12px;
  width: 144px;
  height: 32px;
  line-height: normal;
  margin-top: 12px;
  padding-top: 5px;
  border-radius: 4px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected .menuItem,
.ant-menu.ant-menu-dark .ant-menu-item-selected .subMeunItem
 {
  background-color: #5878FF;

}
.ant-menu-inline > .ant-menu-item,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
  line-height: 56px;
  height: 56px;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item {
  line-height: 44px;
  height: 44px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu.ant-menu-dark .subMeunItem {
  padding-left: 34px;
  width: 144px;
  height: 32px;
  line-height: normal;
  margin-top: 6px;
  border-radius: 4px;
  padding-top: 6px;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background-color: #232F49;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #19233E;
  box-shadow: none;
}
.ant-select-arrow:before {
  content: '\E606'!important;
}
.ant-select-arrow {
  color: #667280;
  margin-top: -8px;
}
.searchSelect .ant-select-selection--single,
.searchSelect  .ant-select-selection__rendered{
  height: 40px;
  line-height: 40px;
}
.ant-calendar-picker-input.ant-input:focus {
  border-color: transparent;
  box-shadow: none;
}
.ant-calendar-input-wrap,
.ant-calendar-picker-icon,
.ant-calendar-date-panel .ant-calendar-range-middle {
  display: none;
}
.ant-calendar-picker-input.ant-input {
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px;

}
.ant-calendar-range-picker-input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 40px;
  line-height:40px;
  text-align: left;
  padding-left: 12px;
  width: 128px;
}
.ant-calendar-range-picker-separator {
  color: #000000;
  margin: 0 12px 0 9px;
  height: 40px;
  line-height:40px;
}
.ant-calendar-picker .ant-input {
  padding: 0;
}
.rangeDate {
  height: 40px;
  line-height: 40px;
}
.ant-calendar{
  margin-top: 42px;
}
.groupSelect .ant-select-selection{
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 0;
  text-align: left!important;
  padding-left: 40px;
  background: #fff;
}
.ant-table-thead > tr > th {
  padding: 13px 0;
  color: #667280;
  padding-left: 40px;
}
.ant-table-tbody > tr > td {
  padding: 15px 0;
  color: #001933 ;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 40px;
}
.lightColor {
  color: #667280!important;
}
.deepColor {
  color: #001933!important ;
}
.buleColor {
  color:  #5878FF!important ;
}
.ant-checkbox-inner{
  height: 14px;
  width: 14px;
}
.ant-table table {
  border-radius: 0;
}
/* 分页 */
.ant-table-pagination.ant-pagination {
  margin: 16px 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* 自定义 */
.row {
  display: flex;
  align-items: center;
}
.mr8 {
  margin-right: 8px;
}

.miniContent {
  min-width: 1610px;
}
.miniIndexContent {
  min-width: 1340px;
}
.ant-checkbox-inner:after {
  left: 3.571429px;
}

/* modal */
.ant-modal-header {
  padding: 0;
  padding-top: 43px;
  border-bottom: none;
}
.ant-modal-content {
  text-align: center;
}
.ant-modal-footer {
  padding: 0;
  border-top: none;
  text-align: center;
  padding-bottom:40px; 
}
.ant-modal-footer .ant-btn{
  padding: 0 31px;
}
.ant-modal-footer .ant-btn:nth-child(2) {
  background: #5878FF ;
}
.ant-modal-body {
  padding: 24px 48px;
}
.ant-modal-body .telerConatiner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.telerItem {
  width: 128px;
  text-align: center;
  height: 64px;
  line-height: 64px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  color: #001933;
}
.ant-modal-body .telerConatiner .telerItem:nth-child(3n+2) {
  margin:0  16px;
}
.activedItem {
  border: 1px solid #5878FF;
}
.fileInput {
  visibility: hidden;
  width: 0.1px;
}
.detailFooter {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailBody {
  text-align: left;
}
.detailBodyBebal {
  width: 72px;
  display: inline-block;
}
.detailBodyBebalVal{
  width: 209px;
  display: inline-block;
  
}