.loginPage {
  text-align: center;
  .register,.login {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .inputItem {
      margin-top: 20px;
    }
    .mt20 {
      margin-top: 20px;
      cursor: pointer;
    }
  }
}